<footer class="footer section">

    <div class=footer-top>
        <div class=container>
            <div class=inner-content>
                <div class=row>
                    <div class="col-lg-4 col-md-6 col-12">

                        <div class="single-footer f-about">
                            <div class=logo>
                                <a href='/'>
                                    <img src="assets/logo.png" alt="PhotoBlocks Logo"
                                        data-pagespeed-url-hash=2570727644
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    <span class="logo-nav-title">PhotoBlocks</span>
                                </a>
                            </div>
                            <p>Capture the moment, create art, and share your vision with the world.</p>
                            <h4 class=social-title>Follow Us On:</h4>
                            <ul class=social>
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-pinterest"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6 col-12">

                        <div class="single-footer f-link">
                            <h3>Helpful Links</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                                <li><a href="javascript:void(0)">Terms of Service</a></li>
                                <li><a href="javascript:void(0)">FAQs</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6 col-12">

                        <div class="single-footer f-link">
                            <h3>Resources</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Blog</a></li>
                                <li><a href="javascript:void(0)">Documentation</a></li>
                                <li><a href="javascript:void(0)">Guides</a></li>
                                <li><a href="javascript:void(0)"></a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-12">

                        <div class="single-footer newsletter">
                            <h3>Subscribe</h3>
                            <p>Subscribe to our newsletter for the latest updates</p>
                            <form action="#" method=get target=_blank class=newsletter-form>
                                <input name=EMAIL placeholder="Email address" required=required type=email>
                                <div class=button>
                                    <button class=sub-btn><i class="lni lni-envelope"></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class=copyright-area>
        <div class=container>
            <div class=inner-content>
                <div class=row>
                    <div class="col-lg-6 col-md-6 col-12">
                        <p class=copyright-text>© 2023 PhotoBlocks - All Rights Reserved</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <p class=copyright-owner>Developed by <a href="https://github.com/tech-creed/Photo-Blocks"
                                rel=nofollow target=_blank>Techcreed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<a href="#" class=scroll-top>
    <i class="lni lni-chevron-up"></i>
</a>

<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>

<script src="js/tiny-slider.js"></script>
<script src="js/glightbox.min.js"></script>
<script src="js/count-up.min.js"></script>
<script src="js/main.js"></script>
<script>tns(
        { container: '.road-map-slider', items: 1, slideBy: 'page', autoplay: false, mouseDrag: true, gutter: 0, nav: true, controls: false, responsive: { 0: { items: 2, }, 540: { items: 3, }, 768: { items: 4, }, 992: { items: 4, }, 1170: { items: 6, } } });
    tns({ container: '.testimonial-slider', items: 3, slideBy: 'page', autoplay: false, mouseDrag: true, gutter: 0, nav: true, controls: false, responsive: { 0: { items: 1, }, 540: { items: 1, }, 768: { items: 2, }, 992: { items: 2, }, 1170: { items: 3, } } });
    var cu = new counterUp({ start: 0, duration: 2000, intvalues: true, interval: 100, append: " ", });
    cu.start();
    GLightbox({ 'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM', 'type': 'video', 'source': 'youtube', 'width': 900, 'autoplayVideos': true, });
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816"
    integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw=="
    data-cf-beacon='{"rayId":"7c6c33078d3e3e23","version":"2023.4.0","r":1,"token":"9a6015d415bb4773a0bff22543062d3b","si":100}'
    crossorigin="anonymous">
    </script>

</body>

</html>