<%- include('partials/header') -%>
    <div class=error-area>
        <div class=d-table>
            <div class=d-table-cell>
                <div class=container>
                    <div class=error-content>
                        <h1>404</h1>
                        <h2>The page you were looking for<br> doesn't exist anymore.</h2>
                        <p>It might have been moved or deleted.</p>
                        <div class=button>
                            <a href='/' class=btn>Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>

    <script src="js/tiny-slider.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/count-up.min.js"></script>
    <script src="js/main.js"></script>
    <script>tns(
            { container: '.road-map-slider', items: 1, slideBy: 'page', autoplay: false, mouseDrag: true, gutter: 0, nav: true, controls: false, responsive: { 0: { items: 2, }, 540: { items: 3, }, 768: { items: 4, }, 992: { items: 4, }, 1170: { items: 6, } } });
        tns({ container: '.testimonial-slider', items: 3, slideBy: 'page', autoplay: false, mouseDrag: true, gutter: 0, nav: true, controls: false, responsive: { 0: { items: 1, }, 540: { items: 1, }, 768: { items: 2, }, 992: { items: 2, }, 1170: { items: 3, } } });
        var cu = new counterUp({ start: 0, duration: 2000, intvalues: true, interval: 100, append: " ", });
        cu.start();
        GLightbox({ 'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM', 'type': 'video', 'source': 'youtube', 'width': 900, 'autoplayVideos': true, });
    </script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816"
        integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw=="
        data-cf-beacon='{"rayId":"7c6c33078d3e3e23","version":"2023.4.0","r":1,"token":"9a6015d415bb4773a0bff22543062d3b","si":100}'
        crossorigin="anonymous">
        </script>
    </body>

    </html>