<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8 />
    <meta http-equiv=x-ua-compatible content="ie=edge" />
    <title>PhotoBlocks</title>
    <meta name=description content="" />
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/animate.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/glightbox.min.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/tiny-slider.css">

    <link rel=stylesheet href="css/index.css" />
    <link rel=dns-prefetch href="//maps.google.com">
    <script data-pagespeed-no-defer>(function () {
            function f(a, b, d) { if (a.addEventListener) a.addEventListener(b, d, !1); else if (a.attachEvent) a.attachEvent("on" + b, d); else { var c = a["on" + b]; a["on" + b] = function () { d.call(this); c && c.call(this) } } }; window.pagespeed = window.pagespeed || {}; var g = window.pagespeed; function k(a) { this.g = []; this.f = 0; this.h = !1; this.j = a; this.i = null; this.l = 0; this.b = !1; this.a = 0 } function l(a, b) { var d = b.getAttribute("data-pagespeed-lazy-position"); if (d) return parseInt(d, 0); var d = b.offsetTop, c = b.offsetParent; c && (d += l(a, c)); d = Math.max(d, 0); b.setAttribute("data-pagespeed-lazy-position", d); return d }
            function m(a, b) {
                var d, c, e; if (!a.b && (0 == b.offsetHeight || 0 == b.offsetWidth)) return !1; a: if (b.currentStyle) c = b.currentStyle.position; else { if (document.defaultView && document.defaultView.getComputedStyle && (c = document.defaultView.getComputedStyle(b, null))) { c = c.getPropertyValue("position"); break a } c = b.style && b.style.position ? b.style.position : "" } if ("relative" == c) return !0; e = 0; "number" == typeof window.pageYOffset ? e = window.pageYOffset : document.body && document.body.scrollTop ? e = document.body.scrollTop : document.documentElement &&
                    document.documentElement.scrollTop && (e = document.documentElement.scrollTop); d = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight; c = e; e += d; var h = b.getBoundingClientRect(); h ? (e = h.top - d, c = h.bottom) : (h = l(a, b), d = h + b.offsetHeight, e = h - e, c = d - c); return e <= a.f && 0 <= c + a.f
            }
            k.prototype.m = function (a) {
                p(a); var b = this; window.setTimeout(function () {
                    var d = a.getAttribute("data-pagespeed-lazy-src"); if (d) if ((b.h || m(b, a)) && -1 != a.src.indexOf(b.j)) {
                        var c = a.parentNode, e = a.nextSibling; c && c.removeChild(a); a.c && (a.getAttribute = a.c); a.removeAttribute("onload"); a.tagName && "IMG" == a.tagName && g.CriticalImages && f(a, "load", function () { g.CriticalImages.checkImageForCriticality(this); b.b && (b.a--, b.a || g.CriticalImages.checkCriticalImages()) }); a.removeAttribute("data-pagespeed-lazy-src"); a.removeAttribute("data-pagespeed-lazy-replaced-functions");
                        c && c.insertBefore(a, e); if (c = a.getAttribute("data-pagespeed-lazy-srcset")) a.srcset = c, a.removeAttribute("data-pagespeed-lazy-srcset"); a.src = d
                    } else b.g.push(a)
                }, 0)
            }; k.prototype.loadIfVisibleAndMaybeBeacon = k.prototype.m; k.prototype.s = function () { this.h = !0; q(this) }; k.prototype.loadAllImages = k.prototype.s; function q(a) { var b = a.g, d = b.length; a.g = []; for (var c = 0; c < d; ++c)a.m(b[c]) } function t(a, b) { return a.a ? null != a.a(b) : null != a.getAttribute(b) }
            k.prototype.u = function () { for (var a = document.getElementsByTagName("img"), b = 0, d; d = a[b]; b++)t(d, "data-pagespeed-lazy-src") && p(d) }; k.prototype.overrideAttributeFunctions = k.prototype.u; function p(a) { t(a, "data-pagespeed-lazy-replaced-functions") || (a.c = a.getAttribute, a.getAttribute = function (a) { "src" == a.toLowerCase() && t(this, "data-pagespeed-lazy-src") && (a = "data-pagespeed-lazy-src"); return this.c(a) }, a.setAttribute("data-pagespeed-lazy-replaced-functions", "1")) }
            g.o = function (a, b) {
                function d() { if (!(c.b && a || c.i)) { var b = 200; 200 < (new Date).getTime() - c.l && (b = 0); c.i = window.setTimeout(function () { c.l = (new Date).getTime(); q(c); c.i = null }, b) } } var c = new k(b); g.lazyLoadImages = c; f(window, "load", function () { c.b = !0; c.h = a; c.f = 200; if (g.CriticalImages) { for (var b = 0, d = document.getElementsByTagName("img"), r = 0, n; n = d[r]; r++)-1 != n.src.indexOf(c.j) && t(n, "data-pagespeed-lazy-src") && b++; c.a = b; c.a || g.CriticalImages.checkCriticalImages() } q(c) }); b.indexOf("data") && ((new Image).src = b); f(window,
                    "scroll", d); f(window, "resize", d)
            }; g.lazyLoadInit = g.o;
        })();

        pagespeed.lazyLoadInit(true, "/pagespeed_static/1.JiBnMqyl6S.gif");
    </script>
</head>

<body><noscript>
        <meta HTTP-EQUIV="refresh"
            content="0;url='https://preview.uideck.com/items/cryptoland/contact.html?PageSpeed=noscript'" />
        <style>
            <!--table,div,span,font,p{display:none} 
            -->
        </style>
        <div style="display:block">Please click <a
                href="https://preview.uideck.com/items/cryptoland/contact.html?PageSpeed=noscript">here</a> if you are
            not redirected within a few seconds.</div>
    </noscript>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <div class=preloader>
        <div class=preloader-inner>
            <div class=preloader-icon>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <%- include('partials/nav-bar') -%>

        <div class=breadcrumbs>
            <div class=container>
                <div class="row align-items-center">
                    <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                        <div class=breadcrumbs-content>
                            <h1 class=page-title>Contact Us</h1>
                            <ul class=breadcrumb-nav>
                                <li><a href='/'>Home</a></li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="contact-us section">
            <div class=container>
                <div class=row>
                    <div class="col-lg-6 col-12">
                        <div class=contact-widget-wrapper>
                            <div class=main-title>
                                <h2>Contact Us</h2>
                                <p>We'd love to hear from you! If you have any questions or feedback regarding our platform or services, please feel free to reach out to us using the contact form below. Our team will get back to you as soon as possible.</p>
                            </div>
                            <div class=contact-widget-block>
                                <h3 class=title>Call us</h3>
                                <p>+** **********</p>
                            </div>
                            <div class=contact-widget-block>
                                <h3 class=title>Email us</h3>
                                <p>techcreed@info.com</p>
                                <p>techcreed@gmail.com</p>
                            </div>
                            <div class=contact-widget-block>
                                <h3 class=title>Our Address</h3>
                                <p>***********</p>
                                <p>***********</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class=contact-form>
                            <h3 class=form-title>Leave a message here</h3>
                            <form class=form onSubmit="handleSubmit" action="/">
                                <div class=row>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class=form-group>
                                            <input name=name type=text placeholder="Name*" required=required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class=form-group>
                                            <input name=email type=email placeholder="Email*" required=required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class=form-group>
                                            <input name=subject type=text placeholder="Subject*" required=required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class=form-group>
                                            <input name=phone type=text placeholder="Phone*" required=required>
                                        </div>
                                    </div>
                                    <div class=col-12>
                                        <div class=form-group>
                                            <textarea placeholder="Message*" name=message id=message-area
                                                class=form-control></textarea>
                                        </div>
                                    </div>
                                    <div class=col-12>
                                        <div class=button>
                                            <button type=submit class="btn ">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class=map-section>
            <div class=container>
                <div class=row>
                    <div class=col-12>
                        <div class=mapouter>
                            <div class=gmap_canvas><iframe width="100%" height=500 id=gmap_canvas
                                    src="https://maps.google.com/maps?q=New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder=0 scrolling=no marginheight=0 marginwidth=0></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const handleSubmit = (e) => {
                e.preventDefault()
            }
        </script>
        <%- include('partials/footer') -%>