<%- include('./partials/header.ejs') -%>
    <%- include('partials/nav-bar') -%>

        <section class=hero-area>
            <div class=container>
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-12">
                        <div class=hero-content>
                            <h4 class="wow fadeInUp" data-wow-delay=.2s>Secure and Monetize your photography with NFTs.
                            </h4>
                            <h1 class="wow fadeInUp" data-wow-delay=.4s>Photography Revolutionized with <br>
                                <span>
                                    <img class=text-shape src="assets/text-shape.png" alt="#"
                                        data-pagespeed-url-hash=50555011
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    PhotoBlocks.
                                </span>
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay=.6s>Join Photoblocks to Secure your work on the
                                Ethereum blockchain. Turn your photos into valuable NFT assets for sale and take your
                                photography business to the next level.
                            </p>
                            <div class="button wow fadeInUp" data-wow-delay=.8s>
                                <a href='/about-us' class="btn ">Explore the Platform</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12">
                        <div class=hero-image>
                            <img class=main-image src="assets/land-img.png" alt="#" data-pagespeed-url-hash=1444126576
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="feature section">
            <div class=container>
                <div class=row>
                    <div class=col-12>
                        <div class=section-title>
                            <h3 class="wow zoomIn" data-wow-delay=.2s>Why choose us</h3>
                            <h2 class="wow fadeInUp" data-wow-delay=.4s>Our features</h2>
                            <p class="wow fadeInUp" data-wow-delay=.6s>Experience the power of decentralized photography
                                with our unique features.</p>
                        </div>
                    </div>
                </div>
                <div class=row>
                    <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=.2s>
                        <div class=feature-box>
                            <div class=tumb>
                                <img src="assets/ipfs-rights.png" alt="" data-pagespeed-url-hash=787695420
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                            <h4 class=text-title>Secure Intellectual Property Protection</h4>
                            <p>By leveraging the Ethereum blockchain and IPFS, Photoblocks provides a secure way for
                                photographers to protect their intellectual property rights. This feature can help
                                photographers feel confident in their work being protected while also making it easier
                                to monetize their photos.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=.4s>
                        <div class=feature-box>
                            <div class=tumb>
                                <img src="assets/nft-marketplace.png" alt="" data-pagespeed-url-hash=1082195341
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                            <h4 class=text-title>Easy NFT Creation and Marketplace</h4>
                            <p>Photoblocks allows photographers to easily create NFTs from their photos and sell them on
                                the platform's marketplace. This feature can make it simpler for photographers to enter
                                the world of NFTs and earn revenue from their work.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=.6s>
                        <div class=feature-box>
                            <div class=tumb>
                                <img src="assets/hiring-photographers.png" alt="" data-pagespeed-url-hash=1376695262
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                            <h4 class=text-title>Hassle-free Hiring of Photographers</h4>
                            <p>Through the Photoblocks platform, consumers can easily hire photographers for events and
                                other projects. This feature can simplify the process of finding and hiring a
                                photographer, making it more accessible for individuals and businesses alike.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="start-process section">
            <div class=container>
                <div class=row>
                    <div class=col-12>
                        <div class=section-title>
                            <h3 class="wow zoomIn" data-wow-delay=.2s>Ready to get started?</h3>
                            <h2 class="wow fadeInUp" data-wow-delay=.4s>3 Steps To Start</h2>
                            <p class="wow fadeInUp" data-wow-delay=.6s>Are you ready to revolutionize your photography
                                business? With PhotoBlocks, you can secure your work on the Ethereum blockchain and turn
                                your photos into valuable NFT assets. Here's how it works.</p>
                        </div>
                    </div>
                </div>
                <div class=row>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class=single-process>
                            <span class=serial>01</span>
                            <h3>Get started with Photoblocks for free</h3>
                            <p>Sign up for free and connect your Ethereum wallet.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class=single-process>
                            <span class=serial>02</span>
                            <h3>Turn your photos into valuable NFT assets</h3>
                            <p>Upload your photos and mint them as NFTs.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class=single-process>
                            <span class=serial>03</span>
                            <h3>Join our NFT marketplace and start earning</h3>
                            <p>Sell your NFTs on our marketplace and earn revenue.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="intro-video-area section">
            <div class=container>
                <div class=row>
                    <div class=col-12>
                        <div class=inner-content-head>
                            <div class=inner-content>
                                <img class=shape1 src="assets/blue-circle.png" alt="#"
                                    data-pagespeed-url-hash=2173334083
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                <img class=shape2 src="assets/blue-circle.png" alt="#"
                                    data-pagespeed-url-hash=2467834004
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                <div class=section-title>
                                    <span class="wow zoomIn" data-wow-delay=.2s>Discover the Future of Photography with
                                        PhotoBlocks</span>
                                    <h2 class="wow fadeInUp" data-wow-delay=.4s>Watch our Introductory Video</h2>
                                    <p class="wow fadeInUp" data-wow-delay=.6s>Learn more about Photoblocks and how
                                        we're revolutionizing the photography industry. Watch our introductory video to
                                        discover how you can secure your work, monetize your photos, and sell them as
                                        valuable NFT assets on our decentralized platform.</p>
                                </div>
                                <div class=intro-video-play>
                                    <div class="play-thumb wow zoomIn" data-wow-delay=.2s>
                                        <a href=""
                                            class="glightbox video"><i class="lni lni-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog-section section">
            <div class=container>
                <div class=row>
                    <div class=col-12>
                        <div class=section-title>
                            <h3 class="wow zoomIn" data-wow-delay=.2s>Blogs</h3>
                            <h2 class="wow fadeInUp" data-wow-delay=.4s>Our Latest News</h2>
                            <p class="wow fadeInUp" data-wow-delay=.6s>Stay up-to-date with the latest news and insights
                                on PhotoBlocks through our informative blog. From industry trends to expert tips, we've
                                got you covered.</p>
                        </div>
                    </div>
                </div>
                <div class=row>
                    <div class="col-12 wow fadeInUp" data-wow-delay=.4s>

                        <div class=single-blog-grid>
                            <div class=blog-img>
                                <a href="https://medium.com/@techcreed.coders/photoblocks-empowering-photographers-with-blockchain-and-nfts-c04389929a19">
                                    <img src="assets/blog-img.jpg" alt="blog image" data-pagespeed-url-hash=1735744405
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                </a>
                            </div>
                            <div class=blog-content>
                                <div class=meta-info>
                                    <a class=date href="javascript:void(0)"><i class="lni lni-timer"></i> 14 May 2023
                                    </a>
                                    <a class=author href="javascript:void(0)"><i class="lni lni-user"></i> TechCreed
                                    </a>
                                </div>
                                <h4>
                                    <a href="https://medium.com/@techcreed.coders/photoblocks-empowering-photographers-with-blockchain-and-nfts-c04389929a19">PhotoBlocks: Empowering Photographers with Blockchain and NFTs.</a>
                                </h4>
                                <p>We built PhotoBlocks as a DApp for photographers and consumers. With PhotoBlocks, photographers can authenticate ownership of their work…</p>
                                <div class=button>
                                    <a href="https://medium.com/@techcreed.coders/photoblocks-empowering-photographers-with-blockchain-and-nfts-c04389929a19" class=btn>Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer') -%>